/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .c-padding {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  /* header styles */
  header {
    padding: 10px 0;
  }
  .menu ul li a {
    font-size: 20px;
    text-align: right;
    padding: 10px 0 0 !important;
  }

  /* slider styles */
  .slider {
    padding-bottom: 60px;
  }
  .c-ind {
    bottom: -60px;
  }
  .c-ind [data-bs-target] {
    width: 10px;
    height: 10px;
  }
  .s-text {
    margin-top: 0;
  }
  .s-text h1 {
    font-size: 25px;
  }
  .s-text h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  .s-text p {
    margin-bottom: 20px;
  }
  .s-icon ul li {
    margin-right: 20px !important;
  }
  .s-icon ul li i {
    font-size: 35px;
  }

  /* feature styles */
  .c-title .c-h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .c-title .c-p {
    font-size: 17px;
    line-height: 25px;
  }
  .f-item {
    margin-top: 30px;
  }
  .f-icon i {
    margin-bottom: 5px;
    font-size: 40px;
    transition: 0.3s;
  }
  .f-icon i:hover {
    transform: scale(0.8);
  }
  .f-text {
    text-align: center;
  }
  .f-text h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .f-text p {
    letter-spacing: 0px;
  }

  /* contact */
  .c-form {
    margin: 30px 0 40px;
  }
  .c-input {
    height: 45px;
  }
  .btn-submit {
    height: 45px;
  }
  .social-icon i {
    font-size: 35px;
  }

  /* footer */
  footer {
    padding-bottom: 70px;
  }
  .ft-text {
    text-align: center;
  }
  .f-s1 {
    padding-bottom: 30px;
  }
  .f-s3 {
    padding-right: 60px;
  }
  .f-s4 {
    padding-top: 30px;
  }
  .f-s5 {
    padding-right: 60px;
    padding-top: 30px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .c-padding {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  /* header styles */
  .menu ul li a {
    font-size: 20px;
    text-align: right;
    padding: 10px 0 0 !important;
  }

  /* slider styles */
  .slider {
    padding-bottom: 60px;
  }
  .c-ind {
    bottom: -60px;
  }
  .c-ind [data-bs-target] {
    width: 11px;
    height: 11px;
  }
  .s-text {
    margin-top: 0;
  }
  .s-text h1 {
    font-size: 25px;
  }
  .s-text h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  .s-text p {
    margin-bottom: 20px;
  }
  .s-icon ul li {
    margin-right: 15px !important;
  }
  .s-icon ul li i {
    font-size: 35px;
  }

  /* feature styles */
  .c-title .c-h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .c-title .c-p {
    font-size: 17px;
    line-height: 25px;
  }
  .f-item {
    margin-top: 30px;
  }
  .f-icon i {
    margin-bottom: 5px;
    font-size: 40px;
    transition: 0.3s;
  }
  .f-icon i:hover {
    transform: scale(0.8);
  }
  .f-text {
    text-align: center;
  }
  .f-text h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .f-text p {
    letter-spacing: 0px;
  }

  /* contact */
  .c-form {
    margin: 30px 0 40px;
  }
  .c-input {
    height: 45px;
  }
  .btn-submit {
    height: 45px;
  }
  .social-icon i {
    font-size: 35px;
  }

  /* footer */
  footer {
    padding-bottom: 70px;
  }
  .ft-text {
    text-align: center;
  }
  .f-s1 {
    padding-bottom: 40px;
  }
  .f-s5 {
    padding-right: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .c-padding {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  /* header styles */
  .menu ul li a {
    padding: 10px 0 0 !important;
    text-align: right;
  }

  /* feature styles */
  .f-item {
    margin-top: 50px;
  }

  /* footer */
  footer {
    padding-bottom: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
